@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

/* ninth planet cards */

@font-face {
    font-family: agency fb;
    font-style: normal;
    font-weight: 400;
    src: local('Agency FB'),local('AgencyFB-Regular'),url(../Fonts/agency-fb.woff) format('woff'),url(../Fonts/agency-fb.ttf) format('truetype')
}

.npCard {
    height: 140px;
    width: 80px;
    position: absolute;
    display: inline-block;
}

.npCard-backSide {
    background: linear-gradient(to bottom right, black, #1861ac);
    border: solid;
    border-radius: 6px;
    border-color: black;
    border-width: thin;
}

.npDropArea {
    border: dashed;
    border-color: slategray;
    border-width: medium;
    height: 150px;
    width: 90px;
    border-radius: 5px;
    background: #dedede;
}

/* ninth planet cards */

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
