@page "/creategame"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Boardgames.Client.ViewModels
@attribute [Authorize]

    <h1>Create game</h1>