@page "/ninthplanet/{gameId:int}"
@using Boardgames.BlazorClient.Components.NinthPlanet

@if (ScreenVm == null || ScreenVm.Client == null)
{
    <h1>Loading ...</h1>
}
else
{
    var client = ScreenVm.Client;

    if (client.CurrentRound != null)
    {
        <NpGameRound GameRound="client.CurrentRound" GameId="client.GameId" />
    }
    else if (client.GameLobby != null)
    {
        <NpGameLobby GameLobby="client.GameLobby" GameId="client.GameId" />
    }
    else
    {
        <p>Something went wrong!</p>
    }
}